/* ==========================================================================
   Used for adding image to home page
   ========================================================================== */
.navbar-default {
    position: fixed;
    background: none;
    top: 0;
    left: 0;
    right:0;
    padding: 16px;
}

.banner {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}