/* ==========================================================================
   Custom CSS
   ========================================================================== */

.navbar-default {
    background-image: -webkit-linear-gradient(top, #d5d5d5 0%,  100%);
    background-image:      -o-linear-gradient(top, #d5d5d5 0%, #d5d5d5 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d5d5d5), to(#d5d5d5));
    background-image:         linear-gradient(to bottom, #d5d5d5 0%, #d5d5d5 100%);
}

body{
    background-color: white;
}