body {
	margin: 0;
	background-color: white;
	font-family: 'Raleway', sans-serif;
}

header{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	background-image: url(http://www.cise.ufl.edu/~josorio/flight/assets/flight-at-sunset.jpg);
	height: 100vh;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#home-page-content {
	margin-top: 105vh;
}

#header-title {
	font-family: 'Raleway', sans-serif;
	font-size: 45px;
	font-weight: normal;
	color: white;
	margin: 1px;
	word-wrap: normal;
}

#header-subtitle {
	font-family: 'Raleway', sans-serif;
	color: white;
	font-size: 20px;
	margin: 1px;
}

footer {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #95a5a6;
}

.p-container{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: black;
	line-height: 140%;
	padding-top: 2vh;
	padding-left: 6vh;
	padding-right: 6vh;
	padding-bottom: 2vh;
}

.navbar {
	margin-bottom: 0px;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

/* Colors for the actual nav bar */
.navbar, .navbar-default, .navbar-fixed-top {
	background: none;
	border-color: transparent;
}

/* Colors active section in the nav bar */
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background: none;
	color: white;
}

/* Colors items based on focus and hover */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	background: none;
	color: #FF9800;
}

/* Colors for the links in the nav bar */
.navbar-default .navbar-nav>li>a {
	color: white;
}

/* Colors title in nav bar */
.navbar-default .navbar-brand {
	color: white;
}

/* Colors title in nav bar based on focus and hover */
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
	background: none;
	color: #FF9800;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background: none;
}

/* MARKETING CONTENT */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

/* Featurettes */

.featurette-divider {
  margin: 40px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.navbar-solid .navbar-brand {
	color: black;
}

.navbar-solid .navbar-nav>li>a {
	color: black;
}

/* Colors title in nav bar based on focus and hover */
.navbar-solid .navbar-brand:hover, .navbar-default .navbar-brand:hover {
	background: none;
	color: #FF9800;
}

/* Colors items based on focus and hover */
.navbar-solid .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	background: none;
	color: #FF9800;
}

.navbar .navbar-solid>.navbar-fixed-top {
	border-color: #0f0f0f;
}

/* Colors for the actual nav bar */
.navbar .navbar-solid, .navbar-fixed-top {
	background: gainsboro;
	border-color: darkgrey;
}

@media only screen and (max-width: 800px) {
	#header-title {
		font-size: 32px;
	}

	#header-subtitle {
		font-size: 16px;
	}
}